body {
    background: #4a752c; /* Σκούρο πράσινο φόντο */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game-wrapper {
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

.google-top-bar {
    background: #4a752c;
    color: white;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding: 15px 20px;
    font-size: 24px;
    font-weight: bold;
}

#container {
    position: relative;
    border: 10px solid #4a752c;
    border-top: none;
    line-height: 0;
}

canvas {
    background: #aad751; /* Το ανοιχτό πράσινο του Google Snake */
}

#overlay {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

button {
    padding: 15px 40px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    background: #2ecc71;
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 0 #27ae60;
    transition: 0.1s;
}

button:active {
    transform: translateY(3px);
    box-shadow: 0 2px 0 #27ae60;
}